<div class="site-header_wrapper">
  <header class="site-header">
    <li class="header_item">
      <a href="https://meelgroup.github.io/">
        <img src="{{ '/assets/images/cstalks.png' | relative_url }}" alt="CS Colloquium Logo" style="height:114px;">
      </a>
    </li>
    <li class="header_item">
      <a class="header_item" href="https://www.comp.nus.edu.sg/">
        <img src="{{ '/assets/images/soc_logo.png' | relative_url }}" alt="NUS SoC Logo" style="height:114px;">
      </a>
    </li>
  </header>
</div>